* {
    padding: 0;
    margin: 0;
} 

#error {
	margin: 10px;
	padding: 0 5px;
	border: 1px solid #f2f2f2;
	background-color: #FAFAFA;
}

#message {
	margin: 10px;
	padding: 0 5px;
	border: 1px solid #f2f2f2;
	background-color: #FAFAFA;
}

form input:focus,form textarea:focus,form select:focus {
    border: #88ac0b solid 1px;
}

form {
    margin-top: 10px;
    padding: 0 5px;
    border: 1px solid #f2f2f2;
    background-color: #FAFAFA;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px 0;
}

input {
    padding: 2px;
    border: 1px solid #eee;
    font: normal 1em Verdana, sans-serif;
    color: #777;
}

textarea {
    width: 400px;
    padding: 2px;
    font: normal 1em Verdana, sans-serif;
    border: 1px solid #eee;
    height: 100px;
    display: block;
    color: #777;
}

input.button {
    margin: 0;
    font: bolder 12px Arial, Sans-serif;
    border: 1px solid #CCC;
    padding: 2px 3px;
    background: #FFF;
    color: #88ac0b;
}

.editbutton {
    margin: 0;
    padding-left: 20px;
    background: url(images/edit.gif) left center no-repeat;
    color: #88ac0b;
}

.delbutton {
    margin: 0;
    padding-left: 20px;
    background: no-repeat url(images/delete.gif) left;
    color: #88ac0b;
}

/* style for list tables */
table.list {
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%;
}

table.list td {
	color: black;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.list th {
	color: white;
	background: #4078CF;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;;
}

table.list th a {
	color: white;
}

table.list thead tr {
	background-color: #FAFAFA;
}

table.list tr.even {
	background-color: #FAFAFA;
}

table.list tr.odd {
	background-color: white;
}

body {
    background: #555;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    color: #333333;;
}

img { border: none; }
a { color: #3E92EA;  }
a:hover { text-decoration: none; color : #000; }

#wrap {
    margin: 40px auto 0 auto;
    width: 800px;

}

#header { 
    padding-bottom:10px;
}
#header h1 {
    font-size: 26px;
    font-weight: 100;
    letter-spacing: -3px;
    padding: 12px 0 5px 10px;
}
#header h1 a {
    color: #fff;
    text-decoration: none;
}
#header h1 a:hover {
    color: #fff;
    text-decoration: none;
}
#header h2 {
    color: #ccc;
    font-size: 15px;
    font-weight: 100;
    padding: 0 0 0 11px;
    letter-spacing: -1px;
    line-height: 12px;
}

#menu {
    height: 30px;
    line-height: 30px;
    background: #222 url(images/menu.jpg) no-repeat;
}
#menu ul {
    padding-left: 10px;
    list-style-type: none;
}
#menu ul li {
    display: block;
    float: left;
}
#menu ul li a {
    color: #eee;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 600;
}
#menu ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

#content {
    background: #555 url(images/content.jpg) repeat-y;
    padding: 10px 20px;
}

.left {
    width: 718px;
    float: left;
    text-align: justify;
    min-height:300px;
}
.left h2 {
    color: #FF4800;
    font-size: 24px;
    letter-spacing: -3px;
    font-weight: 100;
    padding : 10px 0 15px 0;
}

.right {
    width: 150px;
    float: right;
    padding: 10px;
    border-left: 1px solid #bbb;
    font-size: 12px;
}
.right ul {
    list-style-type: none;
    padding: 5px 10px 10px 10px;
}
.right h2 {
    height: 30px;
    font-size: 12px;
    color: #666;
    line-height: 30px;
}
.right a { text-decoration: none }

#top {
    background: #555 url(images/top.jpg) no-repeat;
    padding: 5px 0;
}
#bottom {
    background: #555 url(images/bottom.jpg) no-repeat;
    padding: 10px 0;
}

#footer {
    text-align: center;
    color: #eee;
    font-size: 11px;
    padding: 0 0 10px 0;
}